.box1{
    background-color: antiquewhite;
    width: 100px;
    height: 50px;
    border: solid 1px;
}
.box2{
    background-color: antiquewhite;
    width: 100px;
    height: 50px;
    border: solid 1px;
    transform: rotate(25deg);
}
.box3{
    background-color: antiquewhite;
    width: 100px;
    height: 50px;
    border: solid 1px;
    transform: rotate(-25deg);
}